*{
    margin: 0%;
    padding: 0%;
    outline: soid black;
}

.body {
    background-color: #f3f3f3;
    font-family: 'Montserrat', sans-serif;
}

.top {
    background-color: rgba(156, 152, 152, 0.404);
    height: 50px;
    color: rgb(71, 67, 67);
    
}

.col-primera-parte{
    margin: 10px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 80px;
    display: flex;
}

.search {
    padding: 5px 10px;
    font-size: 1.2rem;
    width: 500px ;
    height: 20px;
}

.search2{
   width: 2100px;
   margin-left: 900px;
   display: flex;
}


.nav-container, .flex-container {
    width: 1080px;

    display: flex;
    margin-left: 50px;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin-right: 1000px;
}

.trow{
    color: white;
    background-color: rgba(34, 32, 32, 0.897);
    height: 80px;
}

.frin{
    color: grey;
    height: 80px;
    width: 1900px;
    display: flex;
    margin: 30px;
    border: 1px solid white;
}

.img-grande{
    background-image:url(main.png);
    height: 850px;

    width: 100% ;
    background-size: 2000px;
    background-repeat: no-repeat;
    margin-top: 50px;
}

.parte-abajo {
    height: 40px;
    width: 1000%;
    margin-bottom: 1%;
    color: white;
    display: flex;
    list-style-type: none;
    background-color: #474747;
    }

.buttom1{
    height: 80px;
    background-color: rgba(26, 73, 201, 0.781);
    margin-left: 800px;
}
.row1 {
    display: flex;
}

.row {
    display: flex;
    width: 2000px;
}

.row3 {
    display: flex;
}

.col {
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    display: flex;
    width: 300px;
}

.col-2 {
    flex: 2;
    color: rgba(134, 123, 123, 0.61);
    text-align: center;
    margin-left: 30px;
}

.col-3 {
    flex: 3;
}

.col-4{
    height: 350px;
    width: 1000px;
    margin-left: 40px;
    margin-top: 50px;
}

.btn-store{
    width: 300px;
    height: 50px;
    background-color: rgb(23, 74, 216);
    color: white;
    margin-right: 50px;
}

.img-pequeña1{
    height: 200px;
    background-image: url(watch_now.png);
    background-repeat: no-repeat;
    background-size: 300px;
}

.img-pequeña2{
    height: 200px;
    background-image: url(take_the_tour.png);
    background-repeat: no-repeat;
    background-size: 300px;
}

.img-pequeña3{
    height: 200px;
    background-image: url(start_your_trial.png);
    background-repeat: no-repeat;
    background-size: 300px;
}

.img-pequeña4{
    height: 200px;
    background-image: url(find_products.png);
    background-repeat: no-repeat;
    background-size: 300px;
}

.row2{
    display: flex;
}

.col-ultima-parte{
    margin: 10px;
    padding: 10px;
    flex: 1;
    margin-top: 100px;
    margin-left: 80px;
}