.quote p {
    color: darkslategrey;
    font-style: italic;
}


* {
    outline: 1px solid red;
}


.header > img {
    height: 50px;
    

}
 
h1 {
  color: cyan;
  background-color: grey;
  text-align: center;
}


