.quote p {
    color: darkslategrey;
    font-style: italic;
}
* {
    outline: 1px solid red;
}


.header > img {
    height: 50px;
    

}
 
h1 {
  color: cyan;
  background-color: grey;
  text-align: center;
}

h1, h2 {
    display: inline;
    background-color: cyan;
}
label, input {
    display: block;
}


p {
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
    background-color: lightgreen;
    margin: 10px;
  }
  