body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: black;
    color: white;
    height: 80px;
    width: 100%; 
    display: flex;
    justify-content: space-between;
}
.sign_out{
    margin-right: 400px;
}

.nav-links {
    width: 100%;
    display: flex;
    list-style-type: none;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
}

.nav-title {
    margin-left: 350px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    font-size: 16px;
}

.cuadro {
    background-color: #17a2b8;
    height: 150px;
    width: 700px;
    border: 10px black;
    margin-top: 30px;
    margin-left: 350px;
}

.cuadro2 {
    height: 300px;
    width: 700px;
    border: 5px, 5px, black;
    margin-left: 350px;
    background-color: bisque;
}