.search{
    padding: 10px;
    margin: 10px;
    width: 125px;
    border-color: aqua;
    color: aqua;
    border-radius: 25px;
}

.mas{
    padding: 10px;
    margin: 10px;
    width: 125px;
    border-color: aqua;
    color: aqua;
    border-radius:25px;
}